body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Forest Green */
  z-index: -1;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Imposta l'opacità a 0.8 */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

header {
  text-align: center;
}

.animated-text {
  color: #a7393c; /* Forest Green */
  display: inline-block;
  font-size: 2em;
  margin: 10px 0;
}

.subtitle {
  color: ##a7393c; /* Green */
  font-size: 1.2em;
}

/* Rest of your CSS remains unchanged */


/* Rest of your CSS remains unchanged */


#work-experience,
#academic-background,
#skills,
#about-me,
#contact-information {
  margin-top: 30px;
}

h2 {
  color: #a7393c;
  border-bottom: 2px solid #a7393c;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

article {
  margin-bottom: 20px;
}

h3 {
  color: #333;
  margin-top: 0;
}

.date {
  color: #777;
}

.position {
  color: #555;
}

.degree {
  color: #555;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

#about-me .about-text {
  line-height: 1.6;
}

#contact-information ul li a {
  color: #ff0000;
  text-decoration: none;
}

#contact-information ul li a:hover {
  text-decoration: underline;
}
/* Il tuo CSS rimane invariato */

/* Il tuo CSS rimane invariato */

.button-container {
  text-align: center;
  margin-top: 20px;
}

.animated-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a7393c; /* Forest Green */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  animation: pulse 2s infinite; /* Aggiunta dell'animazione pulsante */
}

.animated-button:before {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-out;
}

.animated-button:hover:before {
  width: 100%;
}

/* Aggiunta dell'animazione pulsante */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Your existing CSS remains unchanged */

/* Add new CSS for animations and styling */

body {
  overflow-x: hidden;
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated {
  animation: fadeInUp 1s ease-in-out;
}

.animated-text {
  font-size: 3em;
  color: #3498db;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.subtitle {
  color: #3498db;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Add styles for other animations here */

/* Your existing button styles remain u
